<table mat-table [dataSource]="invoices">
  <mat-text-column name="id"></mat-text-column>
  <mat-text-column name="issueDate"></mat-text-column>
  <mat-text-column name="client"></mat-text-column>
  <ng-container matColumnDef="pdf">
    <th mat-header-cell *matHeaderCellDef>PDF</th>
    <td mat-cell *matCellDef="let invoice">
      <a [href]="getPdfUrl(invoice)" mat-icon-button>
        <mat-icon>archive</mat-icon>
      </a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;">
</table>
